<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="5" name="All Test Suite">
	<Listeners>
        <Listener class-name="automation.TestListener"/>
    </Listeners>
    <test name="Test">
        <classes>
            <class name="automation.TestRunner"></class>
        </classes>
    </test>
</suite>
